:root {
    --light-grey: #ececec;
    --dark-grey: #acacac;
    --green: #4CAF50;
    --red: #FF5252;
    --black-transparent: rgba(0, 0, 0, 0.8);
    --transition-time: .4s;
    --hauteur-menu: 70px;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    background: var(--light-grey);
}

body {
    font-family: 'Poppins', sans-serif;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

header {
    position: relative;
}

.header {
    width: 100%;
    height: 80px;
    display: flex;
    background-color: #4CAF50;
    justify-content: center;
    align-items: center;
}

.main {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 10%;
    padding-top: 0%;
    padding-left: 10%;
    max-width: 100%;
}

.footer {
    padding-top: 30px;
    padding-bottom: 30px;
    width: 100%;
    display: flex;
    background-color: #95cae0;
    justify-content: center;
    align-items: center;
}

main {
    max-width: 100%;
    width: 700px;
}

img {
    max-width: 100%;
}

.profiles {
    width: 70%;
    position: relative;
    height: 550px;
    margin-top: 10%;
    padding-left: 10%;
    padding-right: 10%;
}

.profile {
    position: absolute;
    left: 50px;
    margin-top: 0%;
    top: 10px;
    width: 75%;
    height: 100%;
    border-radius: 50px;
    overflow: hidden;
    cursor: pointer;
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Old versions of Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.profiles::before {
    content: 'Plus rien à matcher...';
    color: var(--dark-grey);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.profile__image {
    height: 50;
    width: auto;
    padding-bottom: 150%;
    background-size: cover;
    background-position: center center;
}

.profile__infos {
    padding: 12px;
    position: absolute;
    bottom: 0px;
    background: linear-gradient(0deg, black, transparent);
    width: 100%;
}

.profile__name {
    color: white;
    font-weight: bold;
    padding-left: 25%;
    font-size: 22px;
}

.profile__age {
    color: var(--light-grey);
    font-weight: normal;
}

.profile__description {
    color: white;
    font-size: 13px;
    padding-left: 37%;
}

.bottombar {
    margin-top: 24px;
    margin-right: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
}

.bottombar__button {
    width: 64px;
    height: 64px;
    border-radius: 100%;
    background: white;
    padding: 16px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    transition: .4s;
}

.bottombar__button:hover {
    cursor: pointer;
    opacity: 0.8;
}

.profile--match {
    transition: var(--transition-time);
    transform: translateX(1500px) translateY(600px) rotate(90deg);
}

.profile--next {
    transition: var(--transition-time);
    transform: translateX(-1500px) translateY(600px) rotate(-90deg);
}

.profile--back {
    transition: var(--transition-time);
}

.profile--matching::after,
.profile--nexting::after {
    content: 'MATCH';
    font-weight: bold;
    font-size: 28px;
    padding: 8px 12px;
    border: solid 2px var(--green);
    color: var(--green);
    background: var(--black-transparent);
    position: absolute;
    top: 24px;
    right: 12px;
    border-radius: 4px;
    transform: rotate(24deg);
}

.profile--nexting::after {
    content: 'NEXT';
    border: solid 2px var(--red);
    color: var(--red);
}

.dropdownmenu,
.dropdownmenu ul {
    /* Pour les sous-menus */
    display: flex;
    list-style-type: none;
    margin-top: 0%;
    padding-top: 0%;
    border-radius: 10px;
}

.dropdownmenu ul {
    display: none;
    border-radius: 10px;
    text-align: center;
    padding-top: 1px;
    padding-bottom: 5px;
}

.dropdownmenu li {
    position: relative;
    padding-top: 5px;
    padding-bottom: 5px;
}

.dropdownmenu a {
    display: block;
    width: 120px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    text-decoration: none;
}

.dropdownmenu li:hover ul {
    display: block;
    position: absolute;
    left: 0px;
    z-index: 100;
    visibility: visible;
}


/* Gestion des couleurs */

.dropdownmenu li {
    background-color: #666;
    /* Couleur d'arriere-plan du menu */
}

.dropdownmenu li a {
    color: #ccc;
    /* Couleur du texte du menu */
}

.dropdownmenu li:hover {
    background-color: #000;
    /* Couleur d'arriere-plan du menu au survol */
}

.dropdownmenu li:hover a {
    color: #fff;
    /* Couleur du texte du menu au survol */
}

.dropdownmenu ul li {
    background-color: #ccc;
    /* Couleur d'arriere-plan des sous-menu */
}

.dropdownmenu ul li:hover {
    background-color: rgb(114, 182, 231);
    /* Couleur d'arriere-plan des sous-menu au survol */
}

.dropdownmenu ul li a {
    color: #666;
    /* Couleur du texte des sous-menu */
}

.dropdownmenu ul li:hover a {
    color: #f00;
    /* Couleur du texte des sous-menu au survol */
}

.logo_adopte {
    width: 100px;
    position: absolute;
    left: 5%;
    border-radius: 10px;
}